
.col-12{
  width:100%;
  float:left;
}

.itp{
  width:100%;
  height:1605px;
  border:1px solid lightgray;
  background-image:url('../images/kich-thuoc-1920x1620.png');
}

.marketing-department{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  left:16%;
  top:53%;
  font-size:45px;
}

.customers-service{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  left:70%;
  top:51.4%;
  font-size:45px;
}

.logo_nhatnam{
  width:3%;
  position:absolute;
  top:75%;
  left:5.5%;
}

.nhatnam_project{
  text-transform:uppercase;
  font-size:36px;
  color:#fff;
  position:absolute;
  left:10%;
  top:71.4%;
}

.logo_vset{
  width:3%;
  position:absolute;
  top:75.2%;
  left:32.4%;  
}

.vset_project{
  text-transform:uppercase;
  font-size:36px;
  color:#fff;
  position:absolute;
  left:37%;
  top:71%;
}

.team7{
  text-transform:uppercase;
  color:#fff;
  font-size:32px;
  position:absolute;
  top:94%;
  left:5.1%;
}

.content-team7{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:982px;
  left:7.3%;
  font-size:25px;
}

p{
 font-size:20px;
 text-transform:uppercase;
 color:#fff;
}

.content-team7-members{
  position:absolute;
  top:112%;
  left:7.4%;
  font-size:25px;
}

.seo-team7{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1200px;
  left:7.4%;
  font-size:25px;
}

.seo-team7-members{
  position:absolute;
  top:1264px;
  left:7.4%;
  font-size:25px;
}

.ads-team7{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1330px;
  left:7.4%;
  font-size:25px;
}

.ads-team7-members{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1399px;
  left:7.4%;
  font-size:25px;
}

.team8{
  text-transform:uppercase;
  color:#fff;
  font-size:32px;
  position:absolute;
  top:99%;
  left:22.4%;
}

.content-team8{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1029px;
  left:24.5%;
  font-size:25px;
}

.content-team8-members{
  position:absolute;
  top:1095px;
  left:24.7%;
  font-size:25px;
}

.design-team8{
  position:absolute;
  top:1192px;
  left:24.7%;
  font-size:25px;
}

.design-team8-members{
  position:absolute;
  top:1252px;
  left:25%;
  font-size:25px;
}

.seo-team8{
  position:absolute;
  top:1308px;
  left:24.7%;
  font-size:25px;
}

.seo-team8-members{
  position:absolute;
  top:1375px;
  left:25%;
  font-size:25px;
}

.ads-team8{
  position:absolute;
  top:1429px;
  left:25%;
  font-size:25px;
}

.ads-team8-members{
  position:absolute;
  top:1495px;
  left:25%;
  font-size:25px;
}

.team9{
  text-transform:uppercase;
  color:#fff;
  font-size:32px;
  position:absolute;
  top:106%;
  left:40%;
}

.team9-content{
  position:absolute;
  top:1102px;
  left:45.8%;
  font-size:25px;
}

.team9-content-members{
  position:absolute;
  top:1160px;
  left:46%;
  font-size:25px;
}

.team9-ads{
  font-size:25px;
  position:absolute;
  top:1102px;
  left:57%;
}

.team9-ads-members{
  position:absolute;
  top:1160px;
  left:57%;
  font-size:25px;
}

.team9-video{
  position:absolute;
  top:1102px;
  left:66.4%;
  font-size:25px;
}

.team9-video-members{
  position:absolute;
  top:1160px;
  left:66%;
  font-size:25px;
}

.team9-seo{
  position:absolute;
  top:1103px;
  left:77%;
  font-size:25px;
}

.team9-seo-members{
  position:absolute;
  top:1160px;
  left:77%;
  font-size:25px;
}

.team9-design{
  position:absolute;
  top:1102px;
  left:85.7%;
  font-size:25px;
}

.team9-design-members{
  position:absolute;
  top:1160px;
  left:86.7%;
  font-size:25px;
}

.logo-vset{
  width:3%;
  position:absolute;
  left:70.1%;
  top:70.2%;
}

.vset-group{
  font-size:25px;
  text-transform:uppercase;
  color:#fff;
}

.du-an-vset{
  position:absolute;
  left:57.2%;
  top:66%;
  font-size:36px;
}

.logo-nhatnam{
  width:3%;
  position:absolute;
  left:96%;
  top:70%;
}

.du-an-nhat-nam{
  position:absolute;
  left:77%;
  top:66%;
  text-transform:uppercase;
  font-size:36px;
  color:#fff;
}

.vset-group-members{
  position:absolute;
  left:62%;
  top:79%;
  font-size:25px;
}

.nhatnam-group-members{
  position:absolute;
  left:89%;
  top:79%;
  font-size:25px;
}

@media screen and (min-width:1150px) and (max-width:1440px){

  .itp{
    width:100%;
    height:1150px;
    border:none;
    background-image:url('../images/kich-thuoc-1440x1150.png');
    background-size:100%;
    background-repeat:no-repeat;
  }

  .marketing-department{
    position:absolute;
    top:38%;
    left:16%;
    font-size:34px;
  }
  
  .customers-service{
    position:absolute;
    top:37%;
    left:69%;
    font-size:34px;
  }

  .logo_nhatnam{
    position:absolute;
    top:58.2%;
  }

  .nhatnam_project{
    position:absolute;
    top:55%;
    font-size:27px;
  }

  .logo_vset{
    position:absolute;
    top:58.4%;
    left:31.7%;
  }

  .vset_project{
    position:absolute;
    top:55%;
    left:36.2%;
    font-size:27px;
  }

  .team7{
    position:absolute;
    top:75%;
    left:4.7%;
    font-size:24.5px;
  }

  .content-team7{
    position:absolute;
    top:83.4%;
    left:7%;
    font-size:24.5px;
  }
  
  .content-team7-members{
    position:absolute;
    top:91%;
    left:7.2%;
    font-size:18.5px;
  }

  .seo-team7{
    position:absolute;
    top:105%;
    font-size:24.5px;
    left:7.2%;
  }

  .seo-team7-members{
    position:absolute;
    top:113%;
    left:7.3%;
    font-size:18.5px;
  }

  .ads-team7{
    position:absolute;
    top:117%;
    left:7.2%;
  }

  .ads-team7-members{
    position:absolute;
    top:126%;
    left:7.3%;
    font-size:18.5px;
  }
  
  .team8{
    position:absolute;
    top:80%;
    left:21.6%;
    font-size:24.5px;
  }
  
  .content-team8{
    position:absolute;
    top:88.2%;
    left:24.2%;
    font-size:24.5px;
  }
  
  .content-team8-members{
    position:absolute;
    top:95.6%;
    font-size:18.5px;
  }

  .design-team8{
    position:absolute;
    top:104.2%;
    font-size:24.5px;
    left:24.2%;
  }
  
  .design-team8-members{
    position:absolute;
    top:112%;
    font-size:24.5px;
  }

  .seo-team8{
    position:absolute;
    top:115%;
    font-size:24.5px;
    left:25%;
  }

  .seo-team8-members{
    position:absolute;
    top:123%;
    font-size:18.5px;
    left:25.5%;
  }
  
  .ads-team8{
    position:absolute;
    top:127%;
    font-size:24.5px;
  }

  .ads-team8-members{
    position:absolute;
    top:135%;
    font-size:18.5px;
  }

  .team9{
    position:absolute;
    top:86%;
    left:39%;
    font-size:24.5px;
  }

  .team9-content{
    position:absolute;
    top:97%;
    left:45%;
    font-size:18.5px;
  }

  .team9-content-members{
    position:absolute;
    top:102%;
    font-size:18.5px;
  }
  
  p{
    font-size:15px;
  }

  .team9-ads{
    position:absolute;
    top:97%;
    left:55.9%;
    font-size:18.5px;
  }

  .team9-ads-members{
    position:absolute;
    top:101.7%;
    left:56%;
  }

  .team9-video{
    position:absolute;
    top:97%;
    left:65%;
    font-size:18.5px;
  }

  .team9-video-members{
    position:absolute;
    top:101.7%;
    left:65%;
    font-size:18.5px;
  }

  .team9-seo{
    position:absolute;
    top:97%;
    left:75%;
    font-size:18.5px;
  }

  .team9-seo-members{
    position:absolute;
    top:101.7%;
    left:75%;
    font-size:18.5px;
  }

  .team9-design{
    position:absolute;
    top:97%;
    left:84%;
    font-size:18.5px;
  }

  .team9-design-members{
    position:absolute;
    top:101.7%;
    left:85%;
  }

  .logo-vset{
    position:absolute;
    top:54%;
    left:68.5%;
  }

  .du-an-vset{
    position:absolute;
    top:51%;
    left:58%;
    font-size:24.5px;
  }
  
  .vset-group-members{
    position:absolute;
    top:62%;
  }

  .logo-nhatnam{
    position:absolute;
    top:54%;
    left:93.7%;
  }

  .nhatnam-group-members{
    position:absolute;
    top:62%;
    left:87%;
  }

  .du-an-nhat-nam{
    position:absolute;
    top:51%;
    left:79%;
    font-size:24.5px;
  }
}

@media screen and (min-width:1545px) and (max-width:1600px){

  .itp{
    width:100%;
    height:1545px !important;
    border:1px solid lightgray;
    background-image:url('../images/Kich-thuoc-1600x1545.png');
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .marketing-department{
    position:absolute;
    top:70%;
    left:14% !important;
    font-size:40px;
  }

  .customers-service{
    position:absolute;
    top:77%;
    left:66% !important;
  }

  .logo_nhatnam{
    position:absolute;
    top:97%;
    left:4%;
  }

  .nhatnam_project{
    position:absolute;
    top:98%;
    left:9%;
  }
  
  .logo_vset{
    position:absolute;
    top:97%;
    left:30%;
  }
  
  .vset_project{
    position:absolute;
    top:98%;
    left:32%;
  }

  .team7{
    margin-top:12%;
    margin-left:-1%;
    font-size:20px;
  }

  .content-team7{
    font-size:20px;
    margin-left:-2%;
  }
  
  .content-team7-members{
    margin-top:11%;
    margin-left:-1%;
  }

  .seo-team7{
    font-size:20px;
    margin-top:-1.4%;
    margin-left:-1%;
  }
  
  .seo-team7-members{
    margin-top:-4%;
    margin-left:0%;
  }

  .ads-team7{
    font-size:20px;
    margin-top:-3%;
  }

  .ads-team7-members{
    margin-top:-5%;
  }

  .team8{
    margin-top:12%;
    margin-left:-1.6% !important;
    font-size:20px;
  }

  .content-team8{
    margin-top:0.7%;
    margin-left:-2%;
    font-size:20px;
  }

  .content-team8-members{
    margin-top:-2%;
    margin-left:-2%;
  }
  
  .design-team8{
    font-size:20px;
    margin-top:-1.2%;
    margin-left:-2%;
  }

  .design-team8-members{
    margin-top:-4%;
    margin-left:-2%;
  }

  .seo-team8{
    margin-top:-2.4%;
    margin-left:-2%;
    font-size:20px;
  }

  .seo-team8-members{
    margin-top:-6%;
    margin-left:-2%;
  }

  .ads-team8{
    margin-top:-4%;
    font-size:20px;
    margin-left:-2%;
  }

  .ads-team8-members{
    margin-top:-6%;
    margin-left:-2%;
  }

  .team9{
    margin-top:12%;
    margin-left:-1.7% !important;
    font-size:20px;
  }

  .team9-content{
    font-size:20px;
    margin-top:-1%;
    margin-left:-1%;
  }

  .team9-content-members{
    margin-top:-2%;
  }

  .team9-ads{
    font-size:20px;
    margin-top:-1%;
    margin-left:-1%;
  }
  
  .team9-ads-members{
    margin-top:-2%;
    margin-left:-1%;
  }

  p{
   font-size:17px;
  }

  .team9-video{
    font-size:20px;
    margin-top:-1%;
    margin-left:-1%;
  }

  .team9-video-members{
    margin-top:-2%;
    margin-left:-1%;
  }
  
  .team9-seo{
    font-size:20px;
    margin-top:-1%;
    margin-left:-2%;
  }

  .team9-seo-members{
    margin-top:-2%;
    margin-left:-2%;
  }

  .team9-design{
    font-size:20px;
    margin-top:-1%;
    margin-left:-2%;
  }

  .team9-design-members{
    margin-top:-2%;
    margin-left:-2%;
  }
  
  .logo-vset{
    position:absolute;
    top:93%;
    left:67%;
  }
  
  .du-an-vset{
    position:absolute;
    top:93%;
    left:55% !important;
    font-size:25px;
  }

  .vset-group-members{
    margin-top:11%;
  }

  .logo-nhatnam{
    position:absolute;
    top:93%;
    left:93%;
  }

  .du-an-nhat-nam{
    font-size:25px;
    position:absolute;
    top:93%;
    left:75% !important;
  }
  
  .nhatnam-group-members{
    margin-top:11%;
    margin-left:-2%;
  }
}

@media screen and (min-width:1545px) and (max-width:1600px){

  .itp{
    width:100%;
    height:1650px;
    border:none;
    background-image:url('../images/Kich-thuoc-1600x1545.png');
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .marketing-department{
    position:absolute;
    top:76%;
    left:16%;
    font-size:40px;
  }

  .customers-service{
    position:absolute;
    top:75%;
    left:69%;
    font-size:40px;
  }

  .logo_nhatnam{
    position:absolute;
    top:99%;
    left:4.4%;
  }

  .nhatnam_project{
    position:absolute;
    top:95.2%;
    left:9%;
    font-size:30px;
  }
  
  .logo_vset{
    position:absolute;
    top:99%;
    left:31%;
  }
  
  .vset_project{
    position:absolute;
    top:95%;
    left:36%;
    font-size:30px;
  }

  .team7{
    margin-top:12%;
    margin-left:-1.4%;
    font-size:27.5px;
  }

  .content-team7{
    font-size:21px;
    margin-left:-1%;
    margin-top:1%;
  }
  
  .content-team7-members{
    margin-top:11%;
    margin-left:-1%;
    font-size:21px;
  }

  .seo-team7{
    font-size:21px;
    margin-top:-1.4%;
    margin-left:-1%;
  }
  
  .seo-team7-members{
    margin-top:-3%;
    margin-left:-1%;
    font-size:21px;
  }

  .ads-team7{
    font-size:21px;
    margin-top:-3%;
    margin-left:-1%;
  }

  .ads-team7-members{
    font-size:21px;
    margin-top:-5%;
    margin-left:-1%;
  }

  .team8{
    margin-top:12%;
    margin-left:-1.4%;
    font-size:30px;
  }

  .content-team8{
    margin-top:0.7%;
    margin-left:-1%;
    font-size:21px;
  }

  .content-team8-members{
    margin-top:-2%;
    margin-left:-1%;
    font-size:21px;
  }
  
  .design-team8{
    font-size:21px;
    margin-top:-1.2%;
    margin-left:-1%;
  }

  .design-team8-members{
    margin-top:-3%;
    margin-left:-1%;
    font-size:21px;
  }

  .seo-team8{
    margin-top:-2.5%;
    margin-left:-1%;
    font-size:21px;
  }

  .seo-team8-members{
    margin-top:-5%;
    margin-left:-1%;
    font-size:21px;
  }

  .ads-team8{
    margin-top:-4%;
    font-size:21px;
    margin-left:-1%;
  }

  .ads-team8-members{
    margin-top:-6%;
    margin-left:-1%;
    font-size:21px;
  }

  .team9{
    margin-top:12%;
    margin-left:-1.5%;
    font-size:30px;
  }

  .team9-content{
    font-size:21px;
    margin-top:-0.5%;
    margin-left:-1.2%;
  }

  .team9-content-members{
    margin-top:-2%;
    font-size:21px;
  }

  .team9-ads{
    font-size:21px;
    margin-top:-0.5%;
    margin-left:-1.2%;
  }
  
  .team9-ads-members{
    margin-top:-2%;
    margin-left:-1%;
    font-size:21px;
  }

  p{
   font-size:17px;
  }

  .team9-video{
    font-size:21px;
    margin-top:-0.5%;
    margin-left:-1.2%;
  }

  .team9-video-members{
    font-size:21px;
    margin-top:-2%;
    margin-left:-1.5%;
  }
  
  .team9-seo{
    font-size:21px;
    margin-top:-0.5%;
    margin-left:-2%;
  }

  .team9-seo-members{
    font-size:21px;
    margin-top:-2%;
    margin-left:-2%;
  }

  .team9-design{
    font-size:21px;
    margin-top:-0.5%;
    margin-left:-2%;
  }

  .team9-design-members{
    margin-top:-2%;
    margin-left:-2%;
    font-size:21px;
  }
  
  .logo-vset{
    width:3%;
    position:absolute;
    top:95%;
    left:68%;
  }
  
  .du-an-vset{
    position:absolute;
    top:90.5%;
    left:57%;
    font-size:30px;
  }

  .vset-group-members{
    margin-top:11%;
    font-size:30px;
  }

  .logo-nhatnam{
    width:3%;
    position:absolute;
    top:94%;
    left:93.5%;
    font-size:30px;
  }

  .du-an-nhat-nam{
    font-size:30px;
    position:absolute;
    top:90%;
    left:78%;
  }
  
  .nhatnam-group-members{
    margin-top:11%;
    margin-left:-2%;
    font-size:30px;
  }
}

@media screen and (min-width:1025px) and (max-width:1280px){

  .itp{
    width:100%;
    height:1025px;
    border:none;
    background-image:url('../images/kich-thuoc-1280x1025.png');
    background-repeat:no-repeat;
    background-size:100%;
  }

  .marketing-department{
    font-size:30px;
    position:absolute;
    top:30%;
  }

  .customers-service{
    font-size:30px;
    position:absolute;
    top:29%;
    left:69%;
  }

  .logo_nhatnam{
    position:absolute;
    top:45%;
    left:5.1%;
  }
  
  .nhatnam_project{
    position:absolute;
    top:42.3%;
    font-size:24px;
  }

  .logo_vset{
    position:absolute;
    top:44.9%;
    left:31.7%;
  }

  .vset_project{
    position:absolute;
    top:42.2%;
    font-size:24px;
  }

  .team7{
    position:absolute;
    top:58%;
    font-size:22px;
  }
  
  .content-team7{
    position:absolute;
    top:64.3%;
    font-size:22px;
  }

  .content-team7-members{
    position:absolute;
    top:70%;
    font-size:17px;
  }
  
  .seo-team7{
    position:absolute;
    top:80.6%;
    font-size:22px;
  }

  .seo-team7-members{
    position:absolute;
    top:87%;
    font-size:17px;
  }

  .ads-team7{
    position:absolute;
    top:90.9%;
    font-size:20px;
  }
  
  .ads-team7-members{
    position:absolute;
    top:97%;
  }

  .team8{
    position:absolute;
    top:62%;
    font-size:22px;
  }

  .content-team8{
    font-size:22px;
    position:absolute;
    top:67.9%;
    left:24%;
  }
  
  .content-team8-members{
    position:absolute;
    top:73%;
    left:24%;
    font-size:17px;
  }
  
  .design-team8{
    position:absolute;
    top:80.4%;
    font-size:22px;
  }

  .design-team8-members{
    position:absolute;
    top:86%;
    left:24%;
    font-size:17px;
  }

  .seo-team8{
    position:absolute;
    top:89%;
    left:24%;
    font-size:22px;
  }

  .seo-team8-members{
    position:absolute;
    top:95%;
    left:24.2%;
    font-size:17px;
  }

  .ads-team8{
    position:absolute;
    top:98.2%;
    left:24%;
    font-size:22px;
  }

  .ads-team8-members{
    position:absolute;
    top:104%;
    left:24%;
    font-size:17px;
  }
  
  .team9{
    position:absolute;
    top:66%;
    font-size:22px;
  }

  .team9-content{
    position:absolute;
    top:74%;
    font-size:17px;
  }

  .team9-content-members{
    position:absolute;
    top:78%;
    font-size:17px;
  }

  .team9-ads{
    position:absolute;
    top:74%;
    font-size:17px;
  }

  .team9-ads-members{
    position:absolute;
    top:78%;
    font-size:17px;
  }

  .team9-video{
    position:absolute;
    top:74%;
    font-size:17px;
  }

  .team9-video-members{
    position:absolute;
    top:78%;
  }

  .team9-seo{
    position:absolute;
    top:74%;
  }

  .team9-seo-members{
    position:absolute;
    top:78%;
    font-size:17px;
  }

  .team9-design{
    position:absolute;
    top:74%;
    font-size:17px;
  }

  .team9-design-members{
    position:absolute;
    top:78%;
  }

  .logo-vset{
    position:absolute;
    top:42%;
    left:68.7%;
  }

  .du-an-vset{
    position:absolute;
    top:39%;
    font-size:24px;
  }

  .logo-nhatnam{
    position:absolute;
    top:42%;
    left:94.2%;
  }

  .du-an-nhat-nam{
    position:absolute;
    top:39%;
    left:78%;
    font-size:24px;
  }

  .vset-group-members{
    position:absolute;
    top:46%;
    font-size:17px;
  }

  .nhatnam-group-members{
    position:absolute;
    top:46%;
    font-size:17px;
  }
}