
.col-12{
  width:100%;
  float:left;
}

.itp{
  width:100%;
  height:1605px;
  border:1px solid lightgray;
  background-image:url('../images/kich-thuoc-1920x1620.png');
}

.marketing-department{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  left:17%;
  top:52%;
  font-size:45px;
  font-family: 'Source Sans Pro', sans-serif;
}

.customers-service{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  left:72%;
  top:51.4%;
  font-size:45px;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo_nhatnam{
  width:3%;
  position:absolute;
  top:75%;
  left:5.5%;
}

.nhatnam_project{
  text-transform:uppercase;
  font-size:36px;
  color:#fff;
  position:absolute;
  left:10%;
  top:71.4%;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo_vset{
  width:3%;
  position:absolute;
  top:75.2%;
  left:32.4%;  
}

.vset_project{
  text-transform:uppercase;
  font-size:36px;
  color:#fff;
  position:absolute;
  left:37%;
  top:71%;
  font-family: 'Source Sans Pro', sans-serif;
}

.team7{
  text-transform:uppercase;
  color:#fff;
  font-size:32px;
  position:absolute;
  top:95%;
  left:5.1%;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-team7{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:982px;
  left:7%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

p{
 font-size:20px;
 text-transform:uppercase;
 color:#fff;
}

.content-team7-members{
  position:absolute;
  top:112%;
  left:7.4%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.seo-team7{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1200px;
  left:7.4%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.seo-team7-members{
  position:absolute;
  top:1264px;
  left:7.4%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ads-team7{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1330px;
  left:7.4%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ads-team7-members{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1399px;
  left:7.4%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team8{
  text-transform:uppercase;
  color:#fff;
  font-size:32px;
  font-family: 'Source Sans Pro', sans-serif;
  position:absolute;
  top:100%;
  left:22.4%;
}

.content-team8{
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:1029px;
  left:24.5%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-team8-members{
  position:absolute;
  top:1095px;
  left:24.7%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.design-team8{
  position:absolute;
  top:1192px;
  left:24.7%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.design-team8-members{
  position:absolute;
  top:1252px;
  left:25%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.seo-team8{
  position:absolute;
  top:1308px;
  left:24.7%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.seo-team8-members{
  position:absolute;
  top:1375px;
  left:25%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ads-team8{
  position:absolute;
  top:1429px;
  left:25%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ads-team8-members{
  position:absolute;
  top:1495px;
  left:25%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9{
  text-transform:uppercase;
  color:#fff;
  font-size:32px;
  font-family: 'Source Sans Pro', sans-serif;
  position:absolute;
  top:106%;
  left:40%;
}

.team9-content{
  position:absolute;
  top:1102px;
  left:45.8%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-content-members{
  position:absolute;
  top:1159px;
  left:46%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-ads{
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
  position:absolute;
  top:1102px;
  left:57%;
}

.team9-ads-members{
  position:absolute;
  top:1157px;
  left:57%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-video{
  position:absolute;
  top:1102px;
  left:66.4%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-video-members{
  position:absolute;
  top:1155px;
  left:66%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-seo{
  position:absolute;
  top:1103px;
  left:77%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-seo-members{
  position:absolute;
  top:1155px;
  left:77%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-design{
  position:absolute;
  top:1102px;
  left:85.7%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.team9-design-members{
  position:absolute;
  top:1155px;
  left:86.7%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo-vset{
  width:3%;
  position:absolute;
  left:70.1%;
  top:70.2%;
}

.vset-group{
  font-size:25px;
  text-transform:uppercase;
  color:#fff;
}

.du-an-vset{
  position:absolute;
  left:59%;
  top:66%;
  font-size:36px;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo-nhatnam{
  width:3%;
  position:absolute;
  left:96%;
  top:70%;
}

.du-an-nhat-nam{
  position:absolute;
  left:80%;
  top:66%;
  text-transform:uppercase;
  font-size:36px;
  font-family: 'Source Sans Pro', sans-serif;
  color:#fff;
}

.vset-group-members{
  position:absolute;
  left:62%;
  top:79%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

.nhatnam-group-members{
  position:absolute;
  left:89%;
  top:79%;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width:1150px) and (max-width:1440px){

  .itp{
    width:100%;
    height:1750px;
    border:none;
    background-image:url('../images/kich-thuoc-1440x1150.png');
    background-size:100%;
    background-repeat:no-repeat;
  }

  .marketing-department{
    position:absolute;
    top:39%;
    left:16%;
  }
  
  .customers-service{
    position:absolute;
    top:39%;
    left:69%;
  }

  .logo_nhatnam{
    position:absolute;
    top:57%;
  }

  .nhatnam_project{
    position:absolute;
    top:57%;
  }

  .logo_vset{
    position:absolute;
    top:57%;
    left:31%;
  }

  .vset_project{
    position:absolute;
    top:57%;
  }

  .team7{
    position:absolute;
    top:77%;
    left:4.5%;
    font-size:24px;
  }

  .content-team7{
    position:absolute;
    top:84%;
    left:7%;
    font-size:24px;
  }
  
  .content-team7-members{
    position:absolute;
    top:90%;
    left:7%;
  }

  .seo-team7{
    position:absolute;
    top:105%;
    font-weight:bold;
    left:7.2%;
  }

  .seo-team7-members{
    position:absolute;
    top:111%;
    left:7.2%;
  }

  .ads-team7{
    position:absolute;
    top:117%;
    left:7.2%;
    font-weight:bold;
  }

  .ads-team7-members{
    position:absolute;
    top:125%;
    left:7.2%;
  }
  
  .team8{
    position:absolute;
    top:82%;
    left:21.6%;
    font-size:24px;
  }
  
  .content-team8{
    position:absolute;
    top:89.2%;
    left:24.2%;
    font-size:21px;
  }
  
  .content-team8-members{
    position:absolute;
    top:94%;
  }

  .design-team8{
    position:absolute;
    top:104.8%;
    font-size:21px;
    left:24.2%;
  }
  
  .design-team8-members{
    position:absolute;
    top:109%;
  }

  .seo-team8{
    position:absolute;
    top:116%;
    font-size:21px;
    left:25%;
  }

  .seo-team8-members{
    position:absolute;
    top:122%;
    font-size:21px;
    left:25.5%;
  }
  
  .ads-team8{
    position:absolute;
    top:128%;
    font-size:21px;
  }

  .ads-team8-members{
    position:absolute;
    top:134%;
    font-size:21px;
  }

  .team9{
    position:absolute;
    top:87%;
    left:39%;
    font-size:21px;
  }

  .team9-content{
    position:absolute;
    top:98%;
    left:44%;
    font-size:20px;
  }

  .team9-content-members{
    position:absolute;
    top:102%;
  }
  
  p{
    font-size:15px;
  }

  .team9-ads{
    position:absolute;
    top:98%;
    left:55%;
    font-size:21px;
  }

  .team9-ads-members{
    position:absolute;
    top:101.7%;
    left:55%;
  }

  .team9-video{
    position:absolute;
    top:98%;
    left:65%;
    font-size:21px;
  }

  .team9-video-members{
    position:absolute;
    top:101.7%;
    left:65%;
  }

  .team9-seo{
    position:absolute;
    top:98%;
    left:75%;
    font-size:21px;
  }

  .team9-seo-members{
    position:absolute;
    top:101.7%;
    left:75%;
  }

  .team9-design{
    position:absolute;
    top:98%;
    left:83%;
    font-size:21px;
  }

  .team9-design-members{
    position:absolute;
    top:101.7%;
    left:85%;
  }

  .logo-vset{
    position:absolute;
    top:53%;
    left:67.2%;
  }

  .du-an-vset{
    position:absolute;
    top:53%;
    left:58%;
    font-size:20px;
  }
  
  .vset-group-members{
    position:absolute;
    top:62%;
  }

  .logo-nhatnam{
    position:absolute;
    top:52.1%;
    left:93%;
  }

  .nhatnam-group-members{
    position:absolute;
    top:62%;
    left:87%;
  }

  .du-an-nhat-nam{
    position:absolute;
    top:53%;
    left:80%;
    font-size:20px;
  }
}

@media screen and (min-width:1545px) and (max-width:1600px){

  .itp{
    width:100%;
    height:1650px;
    border:1px solid lightgray;
    background-image:url('../images/Kich-thuoc-1600x1545.png');
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .marketing-department{
    position:absolute;
    top:77%;
    left:17%;
    font-size:40px;

  }

  .customers-service{
    position:absolute;
    top:77%;
    left:70%;
  }

  .logo_nhatnam{
    position:absolute;
    top:97%;
    left:4%;
  }

  .nhatnam_project{
    position:absolute;
    top:98%;
    left:9%;
  }
  
  .logo_vset{
    position:absolute;
    top:97%;
    left:30%;
  }
  
  .vset_project{
    position:absolute;
    top:98%;
  }

  .team7{
    margin-top:12%;
    margin-left:-1%;
    font-size:20px;
  }

  .content-team7{
    font-size:20px;
    font-weight:bolder;
    margin-left:-2%;
  }
  
  .content-team7-members{
    margin-top:11%;
    margin-left:-1%;
  }

  .seo-team7{
    font-size:20px;
    margin-top:-1.4%;
    margin-left:-1%;
    font-weight:bolder;
  }
  
  .seo-team7-members{
    margin-top:-4%;
    margin-left:0%;
  }

  .ads-team7{
    font-size:20px;
    margin-top:-3%;
    font-weight:bolder;
  }

  .ads-team7-members{
    margin-top:-5%;
  }

  .team8{
    margin-top:12%;
    margin-left:-1%;
    font-size:20px;
  }

  .content-team8{
    margin-top:0.7%;
    margin-left:-2%;
    font-size:20px;
    font-weight:bolder;
  }

  .content-team8-members{
    margin-top:-2%;
    margin-left:-2%;
  }
  
  .design-team8{
    font-size:20px;
    margin-top:-1.2%;
    margin-left:-2%;
    font-weight:bolder;
  }

  .design-team8-members{
    margin-top:-4%;
    margin-left:-2%;
  }

  .seo-team8{
    margin-top:-2.4%;
    margin-left:-2%;
    font-size:20px;
    font-weight:bolder;
  }

  .seo-team8-members{
    margin-top:-6%;
    margin-left:-2%;
  }

  .ads-team8{
    margin-top:-4%;
    font-size:20px;
    margin-left:-2%;
  }

  .ads-team8-members{
    margin-top:-6%;
    margin-left:-2%;
  }

  .team9{
    margin-top:12%;
    margin-left:-1%;
    font-size:20px;
  }

  .team9-content{
    font-size:20px;
    margin-top:-1%;
    margin-left:-1%;
  }

  .team9-content-members{
    margin-top:-2%;
  }

  .team9-ads{
    font-size:20px;
    margin-top:-1%;
    margin-left:-1%;
  }
  
  .team9-ads-members{
    margin-top:-2%;
    margin-left:-1%;
  }

  p{
   font-size:17px;
  }

  .team9-video{
    font-size:20px;
    margin-top:-1%;
    margin-left:-1%;
  }

  .team9-video-members{
    margin-top:-2%;
    margin-left:-1%;
  }
  
  .team9-seo{
    font-size:20px;
    margin-top:-1%;
    margin-left:-2%;
  }

  .team9-seo-members{
    margin-top:-2%;
    margin-left:-2%;
  }

  .team9-design{
    font-size:20px;
    margin-top:-1%;
    margin-left:-2%;
  }

  .team9-design-members{
    margin-top:-2%;
    margin-left:-2%;
  }
  
  .logo-vset{
    position:absolute;
    top:93%;
    left:67%;
  }
  
  .du-an-vset{
    position:absolute;
    top:93%;
    left:57%;
    font-size:25px;
  }

  .vset-group-members{
    margin-top:11%;
  }

  .logo-nhatnam{
    position:absolute;
    top:93%;
    left:93%;
  }

  .du-an-nhat-nam{
    font-size:25px;
    position:absolute;
    top:93%;
    left:78%;
  }
  
  .nhatnam-group-members{
    margin-top:11%;
    margin-left:-2%;
  }
}

@media screen and (min-width:1545px) and (max-width:1600px){

  .itp{
    width:100%;
    height:1650px;
    border:none;
    background-image:url('../images/Kich-thuoc-1600x1545.png');
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .marketing-department{
    position:absolute;
    top:76%;
    left:16%;
    font-size:40px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .customers-service{
    position:absolute;
    top:75%;
    left:69%;
    font-size:40px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .logo_nhatnam{
    position:absolute;
    top:99%;
    left:4.4%;
  }

  .nhatnam_project{
    position:absolute;
    top:95.2%;
    left:9%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .logo_vset{
    position:absolute;
    top:99%;
    left:31%;
  }
  
  .vset_project{
    position:absolute;
    top:95%;
    left:36%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .team7{
    margin-top:12%;
    margin-left:-1.4%;
    font-size:27.5px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .content-team7{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left:-1%;
    margin-top:1%;
  }
  
  .content-team7-members{
    margin-top:11%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .seo-team7{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-1.4%;
    margin-left:-1%;
  }
  
  .seo-team7-members{
    margin-top:-3%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .ads-team7{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-3%;
    margin-left:-1%;
  }

  .ads-team7-members{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-5%;
    margin-left:-1%;
  }

  .team8{
    margin-top:12%;
    margin-left:-1.4%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .content-team8{
    margin-top:0.7%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .content-team8-members{
    margin-top:-2%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .design-team8{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-1.2%;
    margin-left:-1%;
  }

  .design-team8-members{
    margin-top:-3%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .seo-team8{
    margin-top:-2.5%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .seo-team8-members{
    margin-top:-5%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .ads-team8{
    margin-top:-4%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left:-1%;
  }

  .ads-team8-members{
    margin-top:-6%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .team9{
    margin-top:12%;
    margin-left:-1.5%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .team9-content{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-0.5%;
    margin-left:-1.2%;
  }

  .team9-content-members{
    margin-top:-2%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .team9-ads{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-0.5%;
    margin-left:-1.2%;
  }
  
  .team9-ads-members{
    margin-top:-2%;
    margin-left:-1%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  p{
   font-size:17px;
  }

  .team9-video{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-0.5%;
    margin-left:-1.2%;
  }

  .team9-video-members{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-2%;
    margin-left:-1.5%;
  }
  
  .team9-seo{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-0.5%;
    margin-left:-2%;
  }

  .team9-seo-members{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-2%;
    margin-left:-2%;
  }

  .team9-design{
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:-0.5%;
    margin-left:-2%;
  }

  .team9-design-members{
    margin-top:-2%;
    margin-left:-2%;
    font-size:21px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .logo-vset{
    width:3%;
    position:absolute;
    top:95%;
    left:68%;
  }
  
  .du-an-vset{
    position:absolute;
    top:90.5%;
    left:57%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .vset-group-members{
    margin-top:11%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .logo-nhatnam{
    width:3%;
    position:absolute;
    top:94%;
    left:93.5%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .du-an-nhat-nam{
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
    position:absolute;
    top:90%;
    left:78%;
  }
  
  .nhatnam-group-members{
    margin-top:11%;
    margin-left:-2%;
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

@media screen and (min-width:1025px) and (max-width:1280px){

  .itp{
    width:100%;
    border:none;
    background-image:url('../images/kich-thuoc-1280x1025.png');
    background-repeat:no-repeat;
    background-size:100%;
  }

  .marketing-department{
    position:absolute;
    top:30%;
  }

  .customers-service{
    position:absolute;
    top:30%;
    left:67%;
  }

  .logo_nhatnam{
    position:absolute;
    top:44%;
  }
  
  .nhatnam_project{
    position:absolute;
    top:44%;
  }

  .logo_vset{
    position:absolute;
    top:44%;
  }

  .vset_project{
    position:absolute;
    top:44%;
  }

  .team7{
    position:absolute;
    top:59%;
    font-size:20px;
  }
  
  .content-team7{
    position:absolute;
    top:65%;
    font-size:20px;
  }

  .content-team7-members{
    position:absolute;
    top:70%;
  }
  
  .seo-team7{
    position:absolute;
    top:81%;
    font-size:20px;
  }

  .seo-team7-members{
    position:absolute;
    top:87%;
  }

  .ads-team7{
    position:absolute;
    top:90.9%;
    font-size:20px;
  }
  
  .ads-team7-members{
    position:absolute;
    top:97%;
  }

  .team8{
    position:absolute;
    top:63%;
    font-size:20px;
  }

  .content-team8{
    font-size:20px;
    position:absolute;
    top:69%;
    left:24%;
  }
  
  .content-team8-members{
    position:absolute;
    top:74%;
  }
  
  .design-team8{
    position:absolute;
    top:80.7%;
    font-size:20px;
  }

  .design-team8-members{
    position:absolute;
    top:86%;
  }

  .seo-team8{
    position:absolute;
    top:89%;
  }

  .seo-team8-members{
    position:absolute;
    top:95%;
  }

  .ads-team8{
    position:absolute;
    top:98.2%;
  }

  .ads-team8-members{
    position:absolute;
    top:104%;
  }
  
  .team9{
    position:absolute;
    top:67%;
    font-size:20px;
  }

  .team9-content{
    position:absolute;
    top:74%;
  }

  .team9-content-members{
    position:absolute;
    top:79%;
  }

  .team9-ads{
    position:absolute;
    top:74%;
  }

  .team9-ads-members{
    position:absolute;
    top:79%;
  }

  .team9-video{
    position:absolute;
    top:74%;
  }

  .team9-video-members{
    position:absolute;
    top:79%;
  }

  .team9-seo{
    position:absolute;
    top:74%;
  }

  .team9-seo-members{
    position:absolute;
    top:79%;
  }

  .team9-design{
    position:absolute;
    top:74%;
  }

  .team9-design-members{
    position:absolute;
    top:79%;
  }

  .logo-vset{
    position:absolute;
    top:41%;
    left:68%;
  }

  .du-an-vset{
    position:absolute;
    top:41%;
  }

  .logo-nhatnam{
    position:absolute;
    top:41%;
    left:93.2%;
  }

  .du-an-nhat-nam{
    position:absolute;
    top:41%;
    left:78%;
  }

  .vset-group-members{
    position:absolute;
    top:47%;
  }

  .nhatnam-group-members{
    position:absolute;
    top:47%;
  }
}